################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MonkeyFinder/bin/Debug
/MonkeyFinder/obj
/.vs/MonkeyFinder/FileContentIndex
